{% extends 'layout.html.twig' %}

{% block content %}
    <div class="dashboardbanner">
        <img src="/assets/images/dashboardbanner.png" alt="">
        <h1>Bonjour {{ user.user_name }}</h1>
        <h2>Bienvenue sur votre espace client</h2>
    </div>
    <div class="dashboardmenu">
        <div class="my-3 dashboardbtn">
            <a href="/users/edit?id={{ user.id }}"
               class="btn btn-sucess text-decoration-none text-white">Modifier Profil</a>
        </div>
        {% if user.role == 'admin' %}
            <div class="my-3 dashboardbtn">
                <a href="/users" class="btn btn-sucess text-decoration-none text-white">Utilisateurs</a>
            </div>
            <div class="my-3 dashboardbtn">
                <a href="/product/showAll" class="btn btn-sucess text-decoration-none text-white">Produits</a>
            </div>
            <div class="my-3 dashboardbtn">
            <a href="/product/addProduct" class="btn btn-sucess text-decoration-none text-white">Ajout Produits</a>
        </div>
            <div class="my-3 dashboardbtn">
                <a href="/users/add" class="btn btn-sucess text-decoration-none text-white">Ajout Utilisateurs</a>
            </div>
        {% endif %}
        {% if user.role == 'user' %}
            <div class="my-3 dashboardbtn">
                <a href="/users" class="btn btn-sucess text-decoration-none text-white">Wishlist</a>
            </div>
            <div class="my-3 dashboardbtn">
                <a href="/product/showAll" class="btn btn-sucess text-decoration-none text-white">Mes commandes</a>
            </div>
        {% endif %}
        <div class="my-3 dashboardbtn">
            <a href="/logout" class="btn btn-sucess text-decoration-none text-white">Se deconnecter</a>
        </div>
    </div>

    {% block dashboardcontent %}
    <div class="WS-login-container">
        <div class="WS-user-flex">
            <p>votre date de naissance : {{ user.birthday }}</p>
            <p> votre E-mail : {{ user.email }}</p>
        </div>
        <div>

        </div>
    </div>
        {% endblock %}

{% endblock %}


