{% extends 'layout.html.twig' %}

{% block content %}
    <div class="dashboardbanner">
        <img src="/assets/images/dashboardbanner.png" alt="">
        <h1>Bonjour {{ user.user_name }}</h1>
        <h2>Bienvenue sur votre espace client</h2>
    </div>
    <div class="dashboardmenu">
        <div class="dashboardbtn">
            <a href="/users/edit?id={{ user.id }}"
               class="btn btn-sucess btnResp text-decoration-none text-white">Mon profil</a>
        </div>
        {% if user.role == 'admin' %}
            <div class="dashboardbtn">
                <a href="/users" class="btn btnResp btn-sucess text-decoration-none text-white">Utilisateurs</a>
            </div>
            <div class="dashboardbtn">
                <a href="/product/showAll" class="btn btnResp btn-sucess text-decoration-none text-white">Produits</a>
            </div>
        {% endif %}
        {% if user.role == 'user' %}
            <div class="dashboardbtn">
                <a href="/wishlist" class="btn btn-sucess btnResp text-decoration-none text-white">Ma liste d'envies</a>
            </div>
            <div class="dashboardbtn">
                <a href="/profile/orders" class="btn btn-sucess btnResp text-decoration-none text-white">Mes commandes</a>
            </div>
        {% endif %}
        <div class="dashboardbtn">
            <a href="/logout" class="btn btn-sucess btnResp text-decoration-none text-white">Déconnecter</a>
        </div>
    </div>
    {% block dashboardcontent %}
        <div class="dashboardbackground">
            <img class="dashboardimage" src="/assets/images/dashboardbackground.png">
            <div class="WS-login-container">
                <div class="WS-user-profile">
                    <h2 class="fontTitle compteTitle">Mon compte client</h2>
                    <p class="WS-user-content top-3">Retrouvez ici toutes les informations concernant votre compte.</p>
                    <p class="WS-user-content">Une question ?</p>
                    <p class="WS-user-content-bis">Contactez notre service clients.</p>
                    <a class="btn btn-primary text-decoration-none text-white question" href="/contact">
                        <img class="questionImage" src="/assets/images/question.png"  alt="">
                        <p class="">Contact</p>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}


