<h3>Vos articles</h3>
{{ dump(carts) }}
        <div class="WS-mini-image test">
            <div>
                <img src="/assets/images/{{ carts.product_1.image }}" class=" test2" alt="" title="kit">
            </div>    
            <div class="WS-cart">
                <h5 class="WS-cart-montant">{{ carts.product_1.name }}</h5>
                <h6 class="WS-cart-montant">39.90€</h6>
                <h4 class="WS-cart-montant">Montant total</h4>

            </div>
        </div>
