<body>
<!-- --------------------------------- other ideas ---------------------------------- -->
<div class="WS-product-container additionalContainer">
            <div class="WS-product-card m-3 width25">
                <div class="productLogo">
                    <a href="/product/show?id=15"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=15"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>
                <a href="/product/show?id=15"><img src="/assets/images/product15.png" class="productImage" alt="" title="kit"></a>
                <div class="WS-product-card-body">
                    <h5 class="card-title my-0 pe-none">Kit de survie 12 pièces</h5>
                    <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">49.90 €</h6>
                    <form action="" method="get">
                        <a href="/product/add?id=15"><button type="button" class="btn btn-success w-100 mt-2" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
            <div class="WS-product-card m-3 width25">
                <div class="productLogo">
                    <a href="/product/show?id=6"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=6"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>
                <a href="/product/show?id=6"><img src="/assets/images/product06.png" class="productImage" alt=""></a>
                <div class="WS-product-card-body">
                    <h5 class="card-title my-0 pe-none">Couverture de survie</h5>
                    <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">9.99 €</h6>
                    <form action="" method="get">
                        <a href="/product/add?id=6"><button type="button" class="btn btn-success w-100 mt-2" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
            <div class="WS-product-card m-3 width25">
                <div class="productLogo">
                    <a href="/product/show?id=17"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=17"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>
                <a href="/product/show?id=17"><img src="/assets/images/product17.png" class="productImage" alt=""></a>
                <div class="WS-product-card-body">
                    <h5 class="card-title my-0 pe-none">Sifflet de survie</h5>
                    <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">4.99 €</h6>
                    <form action="" method="get">
                        <a href="/product/add?id=17"><button type="button" class="btn btn-success w-100 mt-2" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
            <div class="WS-product-card m-3 width25">
                <div class="productLogo">
                    <a href="/product/show?id=5"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=5"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>
                <a href="/product/show?id=5"><img src="/assets/images/product05.png" class="productImage" alt=""></a>
                <div class="WS-product-card-body">
                    <h5 class="card-title my-0 pe-none">Radio portable dynamo</h5>
                    <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">49.99 €</h6>
                    <form action="" method="get">
                        <a href="/product/add?id=5"><button type="button" class="btn btn-success w-100 mt-2" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
</div>
</body>
