<body>
<!-- --------------------------------- other ideas ---------------------------------- -->
<div class="additionSales">
    <div class="additionSalesContentLarge">
        <h4 class="text-center mb-3 WScolor">Vous pourriez aussi aimer</h4>
        <div class="WS-basket-card-box">
            <div class="WS-basket-card-plus">
                <a href="/product/show?id=1"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                <a href="/wishlist/add?id=1"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                <img src="/assets/images/product01.png" alt="">
                <div class="WS-product-card-body">
                    <h7 class="card-title pe-none">Kit de premiers secours</h7>
                    <h8 class="card-subtitle pe-none">79.99 €</h8>
                    <form action="" method="get">
                        <a href="product/add?id=1">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
            <div class="WS-basket-card-plus">
                <a href="/product/show?id=4"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                <a href="/wishlist/add?id=4"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                <img src="/assets/images/product04.png" alt="">
                <div class="WS-product-card-body">
                    <h7 class="card-title pe-none">Bouteille d'eau filtrante</h7>
                    <h8 class="card-subtitle pe-none">39.99 €</h8>
                    <form action="" method="get">
                        <a href="product/add?id=4">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
            <div class="WS-basket-card-plus2">
                <a href="/product/show?id=2"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                <a href="/wishlist/add?id=2"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                <img src="/assets/images/product02.png" alt="">
                <div class="WS-product-card-body">
                    <h7 class="card-title pe-none">Lampe de poche solaire</h7>
                    <h8 class="card-subtitle pe-none">5.99 €</h8>
                    <form action="" method="get">
                        <a href="product/add?id=2">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
            <div class="WS-basket-card-plus2">
                <a href="/product/show?id=6"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                <a href="/wishlist/add?id=6"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                <img src="assets/images/product06.png" alt="">
                <div class="WS-product-card-body">
                    <h7 class="card-title pe-none">Couverture de survie</h7>
                    <h8 class="card-subtitle pe-none">9.99 €</h8>
                    <form action="" method="get">
                        <a href="product/add?id=6">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
            <div class="WS-basket-card-plus2">
                <a href="/product/show?id=3"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                <img src="/assets/images/product03.png" alt="">
                <div class="WS-product-card-body">
                    <h7 class="card-title pe-none">Nourriture en conserve</h7>
                    <h8 class="card-subtitle pe-none">5.99 €</h8>
                    <form action="" method="get">
                        <a href="product/add?id=3">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
