<footer>
    <div class="WS-footer-row">
        <div class="WS-footer-row-legal">
            <div class="col-3 invisible mb-1">
            </div>
            <div class="col-3 invisible mb-1">
            </div>
            <div class="col-3 footer-legal mb-1">
                <h5>Mentions légales</h5>
                <ul class="nav flex-column legal-notice">
                    <li class="nav-item"><a href="/assets/pdf/politique-confidentialite1.pdf" target="_blank"
                                             class="nav-link p-0 text-dark body-secondary">Politique confidentialité</a>
                    </li>
                    <li class="nav-item"><a href="/assets/pdf/rgpd1.pdf" target="_blank" class="nav-link p-0 text-dark body-secondary">RGPD</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-dark body-secondary">Accessibilité</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-dark body-secondary">Cookies</a></li>
                </ul>
            </div>
            <div class="col-3 footer-legal mb-4">
                <h5>Contact</h5>
                <ul class="nav flex-column legal-notice">
                    <li class=" nav-item pe-none">05 56 33 33 33</li>
                    <li class=" nav-item pe-none">171 Rue Lucien Faure, Bordeaux</li>
                    <a href="/contact" class="WS-footer-color text-dark">
                        <li class="nav-item mb-3">wildshop-contact@gmail.fr</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer-botom">
            <section class="logo-opquast">
                <img class="opquast-logo" src="/assets/images/logo-opquast.png" alt="opquast-logo">
            </section>
            <section class="method-paiement">
                <i class="fa-brands fa-cc-mastercard fa-2xl" style="color: #00364a;"></i>
                <i class="fa-brands fa-cc-paypal fa-2xl" style="color: #00364a;"></i>
                <i class="fa-brands fa-cc-visa fa-2xl" style="color: #00364a;"></i>
            </section>
        </div>
        <p class="certificated">The Wild Shop ©&emsp;<a href="#"><i
                    class="fa-solid fa-arrow-up fa-bounce fa-2xl arrowResp" style="color: #000000;"></i></a></p>
    </div>
</footer>

