<div class="bg-light">
    <div class="row mx-0">
            <!--incon and image zone-->
        <div class="col-4 col-md-4 py-2">
            <button class="btn btn-primary btn2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars fa-lg"></i></button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Catégories</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
            <ul>
                <li><a href="product" class="text-decoration-none WS-header">Produit</a></li>
                <li><i class="fa-solid fa-user-astronaut"></i><a href="page.php" class="text-decoration-none WS-header"> S'habiller</a></li>
                <li><a href="page.php" class="text-decoration-none WS-header">S'alimenter</a></li>
                <li><a href="page.php" class="text-decoration-none WS-header">S'abriter</a></li>
                <li><a href="page.php" class="text-decoration-none WS-header">Se défendre</a></li>
                <li><a href="page.php" class="text-decoration-none WS-header">S'orienter</a></li>
                <li><a href="page.php" class="text-decoration-none WS-header">Kit de Suvie</a></li>
            </ul>
        </div>
        </div>
            <!--<a class="ms-2" href="#"><i class="fa-solid fa-bars fa-lg"></i></a>-->
            <a href="" class="ms-2"><img src="/assets/images/test2.png" height = '60' px></a>
            
        </div>
        <!--Form zone-->
        <div class="col-4 col-md-6 py-3 h-100 my-auto">
            <form class="d-flex" role="search">
            <input class="form-control me-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success d-none d-sm-block text-white" type="submit">Search</button>
            </form>
        </div>
        <!--icons zone-->
        <div class="col-4 col-md-2 py-3">
            <div class="d-flex justify-content-end">
                <a href="" class="test"><i class="fa-solid fa-user-ninja m-3 fa-2xl WS-header"></i></a>
                <a href=""><i class="fa-solid fa-basket-shopping m-3 fa-2xl WS-header"></i></a>
            </div>
        </div>
    </div>
</div>




