<body>
<!---------------------------- marketing logos ---------------------------->
<div class="logoBanner">
        <div><img class="phoneContact" src="/assets/images/phone.png" alt=""><h5>Service client</h5><p>Disponible au 05 56 33 33 33</p></div>
        <div><img class="starReviews" src="/assets/images/star.png" alt=""><h5>Avis clients</h5><p>Découvrez les retours de nos clients</p></div>
    <div><img class="faq" src="/assets/images/faq.png" alt=""><h5>FAQ</h5><p>Retrouvez les questions les plus fréquentes</p></div>
    </div>
</body>

