<body>
<!---------------------------- marketing logos ---------------------------->
<div class="logoBanner">
        <div><img class="phoneContact" src="/assets/images/phone.png" alt=""><h5>Conseil et vente</h5><p>05 56 33 33 33</p></div>
        <div><img class="starReviews" src="/assets/images/star.png" alt=""><h5>Avis clients</h5><p>Découvrez les retours de nos clients</p></div>
         <div >
        <a class="d-flex justify-content-center" href="/contact"><img class="faq" src="/assets/images/faq.png" alt="">
        <h5 class="WS_cursor">Une question ?</h5>
        <p class="WS_cursor">Contactez nous directement</p></a></div>
    </div>
</body>

