{% extends 'layout.html.twig' %}

{% block content %}
    {% if id == 1 %}
    <section class="title-section">
        <h1 class="title-article">Qu'est-ce que le codryceps?</h1>
        <img class="first-picture-article"src="/assets/images/cordyceps22-ps.jpeg">
    </section>
    <section class="survival-article">
        <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                voluptates?</p>
        </div>
        <section class="twice-part-article">
            <img id="third-picture-article" src="/assets/images/last-of-us-header.jpeg">
            <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                    repellat voluptas.</p>
            </div>
        </section>
    </section>
        <div class="blog-suggest">
            <h2 class="WScolor">Nos articles survivalistes...</h2>
            <div class="blog_articles_pc">
                <a href="/blog?id=2" class="text-decoration-none width30"><div class="article2">
                        <h3>Les mega astéroïdes</h3>
                        <p>Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                    </div></a>
                <a href="/blog?id=3" class="text-decoration-none width30"><div class="article3">
                        <h3>Allumer un feu</h3>
                        <p>Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                    </div></a>
                <a href="/blog?id=4" class="text-decoration-none width30"><div class="article4">
                        <h3>Aiguiser sa hache</h3>
                        <p>Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                    </div></a>
            </div>
            <div class="blog_articles_phone">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/blog?id=2" class="text-decoration-none"><div class=" w-100 article2">
                                    <h3>Les mega astéroïdes</h3>
                                    <p class="articleP">Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=3" class="text-decoration-none"><div class=" w-100 article3">
                                    <h3>Allumer un feu</h3>
                                    <p class="articleP">Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=4" class="text-decoration-none"><div class=" w-100 article4">
                                    <h3>Aiguiser sa hache</h3>
                                    <p class="articleP">Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                                </div></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

    {% if id == 2 %}
        <section class="title-section">
            <h1 class="title-article">Les ateroïdes sont-ils notre plus grand danger?</h1>
            <img class="first-picture-article"src="/assets/images/alerte-aux-asteroides.jpg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/asteroid-earth-cosmic.jpg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>
        <div class="blog-suggest">
            <h2 class="WScolor">Nos articles survivalistes...</h2>
            <div class="blog_articles_pc">
                <a href="/blog?id=1" class="text-decoration-none width30"><div class="article1">
                        <h3>Le codryceps</h3>
                        <p>Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                    </div></a>
                <a href="/blog?id=3" class="text-decoration-none width30"><div class="article3">
                        <h3>Allumer un feu</h3>
                        <p>Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                    </div></a>
                <a href="/blog?id=4" class="text-decoration-none width30"><div class="article4">
                        <h3>Aiguiser sa hache</h3>
                        <p>Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                    </div></a>
            </div>
            <div class="blog_articles_phone">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/blog?id=1" class="text-decoration-none"><div class=" w-100 article1">
                                    <h3>Le codryceps</h3>
                                    <p class="articleP">Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=3" class="text-decoration-none"><div class=" w-100 article3">
                                    <h3>Allumer un feu</h3>
                                    <p class="articleP">Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=4" class="text-decoration-none"><div class=" w-100 article4">
                                    <h3>Aiguiser sa hache</h3>
                                    <p class="articleP">Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                                </div></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

    {% if id == 3 %}
        <section class="title-section">
            <h1 class="title-article">Comment bien allumer son feu?</h1>
            <img class="first-picture-article"src="/assets/images/fire-camp-night.jpeg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/fire-camp-article.jpeg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>

        <div class="blog-suggest">
            <h2 class="WScolor">Nos articles survivalistes...</h2>
            <div class="blog_articles_pc">
                <a href="/blog?id=1" class="text-decoration-none width30"><div class="article1">
                        <h3>Le codryceps</h3>
                        <p>Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                    </div></a>
                <a href="/blog?id=2" class="text-decoration-none width30"><div class="article2">
                        <h3>Les mega astéroïdes</h3>
                        <p>Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                    </div></a>
                <a href="/blog?id=4" class="text-decoration-none width30"><div class="article4">
                        <h3>Aiguiser sa hache</h3>
                        <p>Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                    </div></a>
            </div>
            <div class="blog_articles_phone">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/blog?id=1" class="text-decoration-none"><div class=" w-100 article1">
                                    <h3>Le codryceps</h3>
                                    <p class="articleP">Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=2" class="text-decoration-none"><div class=" w-100 article2">
                                    <h3>Les mega astéroïdes</h3>
                                    <p class="articleP">Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=4" class="text-decoration-none"><div class=" w-100 article4">
                                    <h3>Aiguiser sa hache</h3>
                                    <p class="articleP">Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                                </div></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    {% endif %}

    {% if id == 4 %}
        <section class="title-section">
            <h1 class="title-article">Comment bien aiguiser sa hâche?</h1>
            <img class="first-picture-article"src="/assets/images/aiguiser-hache.jpg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/hache-aiguiser.jpeg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>
            <div class="blog-suggest">
                <h2 class="WScolor">Nos articles survivalistes...</h2>
                <div class="blog_articles_pc">
                    <a href="/blog?id=1" class="text-decoration-none width30"><div class="article1">
                            <h3>Le codryceps</h3>
                            <p>Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                        </div></a>
                    <a href="/blog?id=2" class="text-decoration-none width30"><div class="article2">
                            <h3>Les mega astéroïdes</h3>
                            <p>Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                        </div></a>
                    <a href="/blog?id=3" class="text-decoration-none width30"><div class="article3">
                            <h3>Allumer un feu</h3>
                            <p>Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                        </div></a>
                </div>
            <div class="blog_articles_phone">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/blog?id=1" class="text-decoration-none"><div class=" w-100 article1">
                                    <h3>Le codryceps</h3>
                                    <p class="articleP">Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=2" class="text-decoration-none"><div class=" w-100 article2">
                                    <h3>Les mega astéroïdes</h3>
                                    <p class="articleP">Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                                </div></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/blog?id=3" class="text-decoration-none"><div class=" w-100 article3">
                                    <h3>Allumer un feu</h3>
                                    <p class="articleP">Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                                </div></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
