{% extends 'layout.html.twig' %}

{% block content %}
    {% if id == 1 %}
    <section class="title-section">
        <h1 class="title-article">Qu'est-ce que le codryceps?</h1>
        <img class="first-picture-article"src="/assets/images/cordyceps22-ps.jpeg">
    </section>
    <section class="survival-article">
        <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                voluptates?</p>
        </div>
        <section class="twice-part-article">
            <img id="third-picture-article" src="/assets/images/last-of-us-header.jpeg">
            <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                    dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                    repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                    repellat voluptas.</p>
            </div>
        </section>
    </section>
    {% endif %}

    {% if id == 2 %}
        <section class="title-section">
            <h1 class="title-article">Les ateroïdes sont-ils notre plus grand danger?</h1>
            <img class="first-picture-article"src="/assets/images/alerte-aux-asteroides.jpg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/asteroid-earth-cosmic.jpg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>
    {% endif %}

    {% if id == 3 %}
        <section class="title-section">
            <h1 class="title-article">Comment bien allumer son feu?</h1>
            <img class="first-picture-article"src="/assets/images/fire-camp-night.jpeg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/fire-camp-article.jpeg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>
    {% endif %}

    {% if id == 4 %}
        <section class="title-section">
            <h1 class="title-article">Comment bien aiguiser sa hâche?</h1>
            <img class="first-picture-article"src="/assets/images/aiguiser-hache.jpg">
        </section>
        <section class="survival-article">
            <div class="para1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis commodi consequuntur delectus,
                    dolorum illum libero minus molestias non odit qui quiArchitecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit mue dolor doloribus fugit magni mollitia nam nesciuntagni mollitia na<br>m neue dolor doloribus fugit magni mollitia nam nesciuntsciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribus fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.Architecto cum ducimus eum laudantium molestiae non praesentium quia quod recusandae, tempora vero, vitae
                    voluptas. Cumque dolor doloribuue dolor doloribus fugit magni mollitia nam nesciunts fugit magni mollitia nam nesciunt quo quod ratione, sit ullam ut voluptatibus.s quos repellat reprehenderit sed sequi sunt suscipit
                    voluptates?</p>
            </div>
            <section class="twice-part-article">
                <img id="third-picture-article" src="/assets/images/hache-aiguiser.jpeg">
                <div class="para2"><p>Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est aecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquam aliquid asperiores aspaspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores lor dolores eius eos est facere hic riores aspernatur blanditiis commodi consequatur consequuntur corporis cumque delectus
                        dolor dolores eius eos est facere hic labore mollitia obcaecatus eos est facere hic labore mollitia obcaecati possimus provident, quaerat quam quo quos
                        repellat voluptas.Ab aliquassimus provident, quaerat quam quo quos
                        repellat voluptas.</p>
                </div>
            </section>
        </section>
    {% endif %}

{% endblock %}
