{% extends 'layout.html.twig' %}

{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/hache.jpeg" class="d-block w-100" alt="Image d'une hâche">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/boussole-radio.jpeg" class="d-block w-100" alt="Image d'une boussole">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/premiers-soins.jpeg" class="d-block w-100" alt="Image de premiers soins">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="disc_category">
        <ul>
            <li><a href=""><img src="/assets/images/disc_water.png" alt=""></a></li>
            <li><a href=""><img src="/assets/images/disc_air.png" alt=""></a></li>
            <li><a href=""><img src="/assets/images/disc_fire.png" alt=""></a></li>
            <li><a href=""><img src="/assets/images/disc_earth.png" alt=""></a></li>
            <li><a href=""><img src="/assets/images/disc_chimique.png" alt=""></a></li>
            <li><a href=""><img src="/assets/images/disc_meteorite.png" alt=""></a></li>
        </ul>
    </div>
{% endblock %}
