{% extends 'layout.html.twig' %}

{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/hache.jpeg" class="d-block w-100" alt="Image d'une hâche">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/boussole-radio.jpeg" class="d-block w-100" alt="Image d'une boussole">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/premiers-soins.jpeg" class="d-block w-100" alt="Image de premiers soins">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="disc_category">
        <ul>
            <li class="disc_water" ><a href=""><p>Eau</p></a></li>
            <li class="disc_air"><a href=""><p>Air</p></a></li>
            <li class="disc_fire"><a href="">Feu</a></li>
            <li class="disc_earth"><a href="">Terre<p></p></a></li>
            <li class="disc_chimique"><a href="">Chimique</a></li>
            <li class="disc_meteorite"><a href=""><p>Météorite</p></a></li>
        </ul>
    </div>
{% endblock %}
