{% extends 'layout.html.twig' %}

{% block content %}
    <!---------------------------- automatic products carrousel big ---------------------------->
    <div id="carouselExampleAutoplaying" class="carousel slide biig" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/seatosummit.png" class="d-block w-100" alt="sea to summit">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/adler.png" class="d-block w-100" alt="adler">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/lifestraw.png" class="d-block w-100" alt="lifestraw">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!---------------------------- automatic products carrousel big ---------------------------->
    <div id="carouselExampleAutoplaying" class="carousel slide mini" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/seatosummitMini.png" class="d-block w-100" alt="sea to summit">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/adlerMini.png" class="d-block w-100" alt="adler">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/lifestrawMini.png" class="d-block w-100" alt="lifestraw">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!---------------------------- category discs ---------------------------->
    <div class="disc_category">
        <ul>
            <li><a href="product" class="disc_water">
                    <img src="/assets/images/disc_water.png" alt="">
                    <p>Eau</p>
                </a></li>
            <li><a href="product" class="disc_air">
                    <img src="/assets/images/disc_air.png" alt="">
                    <p>Air</p>
                </a></li>
            <li><a href="product" class="disc_fire">
                    <img src="/assets/images/disc_fire.png" alt="">
                    <p>Feu</p>
                </a></li>
            <li><a href="product" class="disc_earth">
                    <img src="/assets/images/disc_earth.png" alt="">
                    <p>Terre</p>
                </a></li>
            <li><a href="product" class="disc_chimique">
                    <img src="/assets/images/disc_chimique.png" alt="">
                    <p>Chimique</p>
                </a></li>
            <li><a href="product" class="disc_meteorite">
                    <img src="/assets/images/disc_meteorite.png" alt="">
                    <p>Météorite</p>
                </a></li>
        </ul>
    </div>
    <!---------------------------- exemples of blog articles ---------------------------->
    <div class="blog">
        <h2>Tout pour se renseigner sur la survie</h2>
        <div class="blog_articles_pc">
            <div class="article1">
                <h3>Le codryceps</h3>
                <p>Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
            </div>
            <div class="article2">
                <h3>Les mega astéroïdes</h3>
                <p>Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
            </div>
            <div class="article3">
                <h3>Allumer un feu</h3>
                <p>Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
            </div>
            <div class="article4">
                <h3>Aiguiser sa hache</h3>
                <p>Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
            </div>
        </div>
        <div class="blog_articles_phone">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class=" w-100 article1">
                            <h3>Le codryceps</h3>
                            <p>Jeu vidéo et désormais série TV, “The Last Of Us” confronte l’humanité à une invasion zombie provoquée par un champignon. Mais quelle est la part de vérité scientifique dans cette fiction ?</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" w-100 article2">
                            <h3>Les mega astéroïdes</h3>
                            <p>Alors que les planètes de notre Système gravitent autour du Soleil certains astéroïdes jouent les trouble-fêtes. Mais quelle est l’étendue de cette menace ?</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" w-100 article3">
                            <h3>Allumer un feu</h3>
                            <p>Allumer un feu peut parfois s’avérer être difficile, et il existe de nombreuses façons d’en allumer. Nos experts décortiquent pour vous ces méthodes afin que vous choisissez la plus adapté.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" w-100 article4">
                            <h3>Aiguiser sa hache</h3>
                            <p>Une hache émoussée peut être dangereuse. Cela vous force à exercer plus de force, à faire des mouvements incontrôlés et les conséquences peuvent être catastrophiques. Suivez le guide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!---------------------------- best sellers  ---------------------------->
    <div class="best_sellers">
        <h2>Nos indispensables de la survie</h2>
        <ul>
            <li>
                <div class="cardCustom">
            <img src="/assets/images/kit.jpeg" class="card-img-top" alt="" title="kit">
            <div class="card-bodyCustom">
                <h5 class="card-title">Kit de survie 12 pièces</h5>
                <h6 class="card-subtitle mb-2 text-muted">39.90€</h6>
                <button type="button" class="btn btn-success">Ajout Panier</button>
            </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
            <img src="/assets/images/product06.png" class="card-img-top" alt="">
            <div class="card-bodyCustom">
                <h5 class="card-title">Couverture de survie</h5>
                <h6 class="card-subtitle mb-2 text-muted">12.90€</h6>
                <button type="button" class="btn btn-success">Ajout Panier</button>
            </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
            <img src="/assets/images/product17.png" class="card-img-top" alt="">
            <div class="card-bodyCustom">
                <h5 class="card-title">Sifflet à ultrasons</h5>
                <h6 class="card-subtitle mb-2 text-muted">9.90€</h6>
                <button type="button" class="btn btn-success">Ajout Panier</button>
            </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
            <img src="/assets/images/product05.png" class="card-img-top" alt="">
            <div class="card-bodyCustom">
                <h5 class="card-title">Radio à dynamo</h5>
                <h6 class="card-subtitle mb-2 text-muted">29.90€</h6>
                <button type="button" class="btn btn-success">Ajout Panier</button>
            </div>
                </div>
            </li>
            <li>
                <div class="cardCustom invisibleCustom">
                    <img src="/assets/images/jumelles.jpeg" class="card-img-top" alt="">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Jumelles 10x42</h5>
                        <h6 class="card-subtitle mb-2 text-muted">44.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
