{% extends 'layout.html.twig' %}

{% block content %}

<div class="WS-basket-card-caddie ">
    <h4 class="text-center mb-3">Votre panier</h4>
    {% for key, cart in carts %}
        {% for cartbis in cart %}

        <div class="WS-basket-card bg-white ms-md-3">
            <div class="WS-basket-center card">
                <img class="WS-basket-img"src="/assets/images/product01.png" alt="">
            </div>
            <div class="WS-basket-card-body">
                <h5 class="card-title mt-3">{{ dump(cart) }}</h5>
                <p>description</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sint.</p>
            </div>
            <div class="WS-basket-price">
                <h6 class="card-subtitle text-muted mt-3">30 €</h6>
                <h1>Name</h1>
            </div>
        </div>
    {% endfor %}
    {% endfor %}

</div>

{% endblock %}
