<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">
    <!-- lien Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- lien google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <!-- script font awesone (icone) -->
    <script src="https://kit.fontawesome.com/dd5f3c1c1b.js" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/2023-02-PHP-Bordeaux-SwiftForce/public/assets/css/style.css">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% include "_includes/header.html.twig" %}

{% block content %}
{% endblock %}
{% block javascript %}{% endblock %}
{% block logoBanner %}
    {% include '_includes/logoBanner.html.twig' %}
{% endblock %}
{% block footer %}
    {% include '_includes/footer.html.twig' %}
{% endblock %}
</body>
</html>


