{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
<div class="WS-user-container2">
<h1 class="fontTitle mt-3">Ajouter un Produit</h1>
</div>
    {% include 'product/_form.html.twig' %}
{% endblock %}

