{% extends 'layout.html.twig' %}
{% block content %}
    <h1 class="links-product-page"><a href="#">Accueil</a> > <a href="#">Équipements</a> > <a href="#">Kits</a></h1>
    <div class="one-product">
        <img src="/assets/images/jumelles.jpeg" alt="product-image">
        <section class="product-characteristic">
            <h2>Kit de survie</h2>
            <section class="added-to-cart">
                <p class="price">55.90€</p>
                <button>Ajouter au panier</button>
            </section>
            <p class="product-description">kldifhdkgbjsbwkjgkrjlkgjezlgjlkjdslkjglk,skl,klvklkljlkesskjkdsqfheuhvkjkjdndkjhgehsgshges<br>
                fkdwgjklvlkdwklgnsklwnblkrnslkbnlkrnksnwslkbnlknfjksfjkljlfjesljgofjsegkljdldgnlsoiegjojzqgfh<br>
                ksvjegnekvksjiojeoshgoghqiozhgrtzeoiqoisoitzqiojfoijjgjepireighsjihjp(tpokpokophkpohkpojphnjt<br>
                kldifhdkgbjsbwkjgkrjlkgjezlgjlkjdslkjglk,skl,klvklkljlkesskjkdsqfheuhvkjkjdndkjhgehsgshges<br>
                fkdwgjklvlkdwklgnsklwnblkrnslkbnlkrnksnwslkbnlknfjksfjkljlfjesljgofjsegkljdldgnlsoiegjojzqgfh<br>
                ksvjegnekvksjiojeoshgoghqiozhgrtzeoiqoisoitzqiojfoijjgjepireighsjihjp(tpokpokophkpohkpojphnjt</p>
        </section>
    </div>
    <!---------------------------- customers notice  ---------------------------->
    <div class="customers-comments">
        <h2>Découvrez pourquoi nos clients nous adorent </h2>
        <img class="comments" src ="/assets/images/customers-avis.jpeg" alt="customers-device">
    </div>
    <!---------------------------- best sellers  ---------------------------->
    <div class="best_sellers">
        <h2>Nos indispensables de la survie</h2>
        <ul>
            <li>
                <div class="cardCustom">
                    <img src="/assets/images/kit.jpeg" class="card-img-top" alt="" title="kit">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Kit de survie 12 pièces</h5>
                        <h6 class="card-subtitle mb-2 text-muted">39.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
                    <img src="/assets/images/masque.jpeg" class="card-img-top" alt="">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Masque à gaz</h5>
                        <h6 class="card-subtitle mb-2 text-muted">59.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
                    <img src="/assets/images/kit.jpeg" class="card-img-top" alt="">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Kit de survie 10 pièces</h5>
                        <h6 class="card-subtitle mb-2 text-muted">29.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
                    <img src="/assets/images/jumelles.jpeg" class="card-img-top" alt="">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Jumelles 10x42</h5>
                        <h6 class="card-subtitle mb-2 text-muted">44.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="cardCustom">
                    <img src="/assets/images/jumelles.jpeg" class="card-img-top" alt="">
                    <div class="card-bodyCustom">
                        <h5 class="card-title">Jumelles 10x42</h5>
                        <h6 class="card-subtitle mb-2 text-muted">44.90€</h6>
                        <button type="button" class="btn btn-success">Ajout Panier</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
