@import "modules/variables.css";
@import "modules/header.css";
@import "modules/product.css";
@import "modules/index.css";
@import "modules/logoBanner.css";
@import "modules/footer.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
