*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-inner {
    height: 60vh;
}

.carousel-inner div {
    width: 100%;
    height: auto;
}

.disc_category ul {
    margin: 5vh auto;
    width: 90vw;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.disc_category ul li {
    width: 14vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc_category ul li a {
    text-decoration: none;
    color: black;
    top: 50%;
    font-size: 2em;
    font-family: Georgia;
    font-weight: bold;
    display: none;
}

.disc_water {
    background-image: url("/assets/images/disc_water.png");
    background-size: cover;
}

.disc_air {
    background-image: url("/assets/images/disc_air.png");
    background-size: cover;
}

.disc_fire {
    background-image: url("/assets/images/disc_fire.png");
    background-size: cover;
}

.disc_earth {
    background-image: url("/assets/images/disc_earth.png");
    background-size: cover;
}

.disc_chimique {
    background-image: url("/assets/images/disc_chimique.png");
    background-size: cover;
}

.disc_meteorite {
    background-image: url("/assets/images/disc_meteorite.png");
    background-size: cover;
}

.disc_category ul li:hover {
    opacity: 0.5;
}

.disc_category ul li:hover a {
    display: flex;
}

.blog_articles {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: auto;
}

.blog_articles div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30vw;
    border-radius: 1.5%;
    color: white;
}

.blog_articles div p {
    width: 80%;
    font-size: 1.5rem;
    margin-top: 2%;
}

.article1 {
    background-image: url("/assets/images/background3.jpg");
}

.article2 {
    background-image: url("/assets/images/background5.jpg");
}

.article3 {
    background-image: url("/assets/images/background4.jpeg");
}

.article1 .article2 .article3 {
    background-size: cover;
    width: 30%;
}

.best_sellers h2 {
    text-align: center;
    margin: 5vh;
}

.best_sellers ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}

.best_sellers ul li {
    width: 25%;
    display: flex;
    justify-content: center;
}

.cardCustom {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bodyCustom {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.best_sellers ul li:hover {
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}

h6 {
    font-size: 0.7vw;
}

h5 {
    font-size: 1vw;
}

