{% extends 'layout.html.twig' %}
{% block content %}
    <div class="contactContainer">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="/assets/images/letterlogo.png" alt="rocket_contact"/>
            </div>
                <div class="row">
                    <p>Merci pour votre message.</p>
                    <p>{{ name }}</p>
                </div>
        </div>
    </div>
{% endblock %}
