.additionSalesLarge {
    display: flex;
    width: 80vw;
    margin: auto;
}
.additionalContainer{
    justify-content: center;
}
.basketAdditionalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*.additionSales {
    font-family: var(--fontFamilyText);
}
.additionSales h4 {
    font-family: var(--fontFamilyTitle);
    letter-spacing: 1.5px;
}
.additionSales {
    width: 80vw;
    margin: auto;
}

.WS-basket-card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WS-basket-card-plus,
.WS-basket-card-plus2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    background-color: white;
}
.card-subtitle {
    margin-bottom: 1vh;
}
.additionSalesLarge ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.additionSalesLarge ul li{
    width: 20%;
}
.cardCustom{
    padding: 0.4rem;
}*/
.productLogo{
    background-color: white;
}
.additionSalesTitle{
    font-family: var(--fontFamilyTitle);
    width: 80vw;
    margin: 10vh auto 0 auto;
}
.letterSpacing{
    letter-spacing: 1.5px;
}
/*.card-title{
    height: auto;
    margin: 1vh auto 1vh auto;
}
.cardCustom:hover .eye-product, .WS-basket-card-plus2:hover .eye-product, .WS-basket-card-plus:hover .eye-product{
    visibility: unset;
}
.eye-product{
    padding-left: 1vw;
}
*/
@media screen and (max-width: 480px) {
  /*  .additionSalesLarge{
        display: flex;
        width: 95vw;
        margin: auto;
}
    .additionSalesLarge ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .additionSalesLarge ul li{
        width: 50%;
    }
    .cardCustom{
        padding: 0.2rem;
        margin-bottom: 2vh;
    }
*/
    .invisibleCustom{
        display: none;
    }
 /*   .card-title{
        height: auto;
        margin: 1vh auto 1vh auto;
    }
    */.additionSalesTitle{
        font-family: var(--fontFamilyTitle);
        width: 88vw;
        margin: 3.5vh auto 0 auto;
    }
}

