.additionSales {
    font-family: var(--fontFamilyText);
}
.additionSales h4 {
    font-family: var(--fontFamilyTitle);
    letter-spacing: 1.5px;
}

.additionSales {
    width: 80vw;
    margin: auto;
}
.additionSalesContentLarge {
    width: 100%;
}
.WS-basket-card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WS-basket-card-plus,
.WS-basket-card-plus2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    background-color: white;
}
.card-subtitle {
    margin-bottom: 1vh;
}

.additionSalesLarge {
    width: 80vw;
    margin: auto;
}
.additionSalesLarge h2 {
    margin-top: 6vh;
    margin-bottom: 2vh;
    font-family: var(--fontFamilyTitle);
}
.additionSalesLarge ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.additionSalesLarge ul li {
    width: 19.5%;
    display: flex;
    justify-content: center;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .WS-basket-card-body h4 {
        text-align: center;
    }

    .WS-basket-card-plus {
        width: 48%;
    }

    .WS-basket-card-plus2 {
        display: none;
    }

    .additionSales {
        width: 85vw;
    }

    .additionSalesContent {
        width: 100%;
        margin-top: 5vh;
    }

    .WS-basket-card-box h7 {
        font-size: 0.9rem;
    }

    .WS-basket-card-box h8 {
        font-size: 0.9rem;
    }
}
