.additionSalesLarge {
    display: flex;
    width: 88vw;
    margin: auto;
}
.additionSalesLarge ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.additionSalesLarge ul li{
    width: 20%;
}
.cardCustom{
    padding: 0.4rem;
}
.productLogo{
    background-color: white;
}
.additionSalesTitle{
    font-family: var(--fontFamilyTitle);
    width: 88vw;
    margin: 4vh auto 0 auto;
}
.card-title{
    height: auto;
    margin: 1vh auto 1vh auto;
}

@media screen and (max-width: 480px) {
    .additionSalesLarge{
        display: flex;
        width: 95vw;
        margin: auto;
}
    .additionSalesLarge ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .additionSalesLarge ul li{
        width: 50%;
    }
    .cardCustom{
        padding: 0.2rem;
    }

    .invisibleCustom{
        display: none;
    }
    .card-title{
        height: auto;
        margin: 1vh auto 1vh auto;
    }
    .additionSalesTitle{
        font-family: var(--fontFamilyTitle);
        width: 88vw;
        margin: 2vh auto 0 auto;
    }
}

