.WS-basket-container {
    width: 80vw;
    margin: auto;
    display: grid;
    grid:
"caddie payment" 1fr
/ 700PX  1fr ;
    gap: 1rem;
    font-family: var(--fontFamilyText);
}

.WS-basket-container h4{
    font-family: var(--fontFamilyTitle);
    letter-spacing: 1.5px;
}

.WS-basket-card-caddie {
    grid-area: caddie;
}

.WS-basket-card {
    display: grid;
    grid:
"img title price" 200px / 200Px 1fr 150px;
    gap: 1rem;
    border-bottom-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
    margin-bottom: 1vh;
}

.WS-basket-img {
    grid-area: img;
    height: 150px;
}

.fontBold {
    font-weight: bold;
}

.WS-basket-card-body {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4vh;
}

.WS-basket-price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 4vh;
    padding-right: 1vh;
}
.WS-basket-price h6 {
    font-weight: bold;
}

.quantityChangeItem {
    display: flex;
}

.quantityItem {
    width: 3vw;
    border-style: none;
    text-align: center;
}

.quantityChange {
    background-color: var(--primaryColor);
    color: white;
    margin: 1vh;
    width: 2vw;
}

.WS-basket-card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WS-basket-card-plus,
.WS-basket-card-plus2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 1rem;
    background-color: white;
}

.WS-basket-card-payment {
    grid-area: payment;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.WS-basket-promo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.WS-basket-box {
    display: flex;
    justify-content: space-between;
}

.WS-basket-payment {
    display: flex;
    justify-content: center;
}

.WS-basket-payment i {
    padding: 10px;
}

.underline {
    border: 1px solid #a0a0a0;
    width: 80%;
}

.WS-basket-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.WS-font-size {
    font-size: 0.9rem;
}

.deleteItem {
    height: 3vh;
}

.otherIdeas {
    width: 80vw;
}

@media screen and (max-width: 480px) {
    .WS-basket-card-body h4 {
        text-align: center;
    }
    .WS-basket-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .WS-basket-center {
        display: flex;
        justify-content: start;
        width: 30vw;
    }
    .WS-basket-container img {
        width: 30vw;
        height: 30vw;
    }
    .cartPhone {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }
    .WS-basket-card-plus2 {
        display: none;
    }
    .quantityChange {
        width: 4vw;
    }
    .WS-basket-card-plus {
        display: 40vw;
    }




        /*.WS-basket-container {
            display: grid;
            grid:
            "caddie" 1fr
            "payment" 500px
            "other" 400px
            / 100vw;
        }

        .WS-basket-card {
            display: grid;
            grid:
            "img" 200Px
            "title"200px
            "price" 50px
            / 300Px;
            gap: 1rem;
            width: 80vw;
            padding: 1rem;
        }

        .WS-basket-card-caddie {
            width: 80vw;
            margin: auto;
        }

        .WS-basket-card-payment {
            width: 80vw;
            margin: auto;
        }

        .WS-basket-card-plus2 {
            display: none;
        }*/
}
