.WS-basket-container {
    display: grid;
    grid:
"caddie payment" 300px
"other payment" 400px
/ 2fr 450px;
    gap: 1rem;
}

.WS-basket-card-caddie {
    grid-area: caddie;
}

.WS-basket-card {
    display: grid;
    grid:
"img title price" 200px / 200Px 1fr 150px;
    gap: 1rem;
}

.WS-basket-img {
    grid-area: img;
    width: 200px;
}

.WS-basket-card-body {
    grid-area: title;
}

.WS-basket-price {
    grid-area: price;
}

.WS-basket-card-box {
    grid-area: other;
    display: none;
    align-items: center;
    justify-content: space-around;
}

.WS-basket-card-plus,
.WS-basket-card-plus2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding: 1rem;
    background-color: white;
}

.WS-basket-card-payment {
    grid-area: payment;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WS-basket-promo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.WS-basket-box {
    display: flex;
    justify-content: space-between;
}

.WS-basket-payment {
    display: flex;
    justify-content: center;
}

.WS-basket-payment i {
    padding: 10px;
}

.underline {
    border: 1px solid #a0a0a0;
    width: 80%;
}

.WS-basket-center {
    display: flex;
    justify-content: center;
}

.WS-font-size {
    font-size: 0.9rem;
}

.WS-basket-delete-update-content {
    display: flex;
    width: 60vw;
}

.WS-basket-delete-update-content img {
    height: 3vh;
}

@media screen and (max-width: 480px) {
    .WS-basket-container {
        display: grid;
        grid:
        "caddie" 600px
        "payment" 500px
        "other" 400px
        / 100vw;
    }

    .WS-basket-card {
        display: grid;
        grid:
        "img" 200Px
        "title"200px
        "price" 50px
        / 300Px;
        gap: 1rem;
        width: 80vw;
        padding: 1rem;
    }

    .WS-basket-card-caddie {
        width: 80vw;
        margin: auto;
    }

    .WS-basket-card-payment {
        width: 80vw;
        margin: auto;
    }

    .WS-basket-card-plus2 {
        display: none;
    }
}
