.title-article{
    text-align: center;
    font-family: var(--fontFamilyTitle);
    margin-top: 5%;
}

.survival-article p{
    text-align: justify;
    font-family: var(--fontFamilyText);
}

.first-picture-article{
    width:80%;
    height:450px;
    margin-left: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
}
#third-picture-article{
    width:650px;
    height:460px;
    margin:5px 30px 10px 0;
}
.survival-article{
    width: 80%;
    margin-left: 10%;
}
.twice-part-article {
    display: flex;
}
.twice-part-article .para2{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.para1 .para2{
    width:80px;
}
@media screen and (max-width: 480px) {

    #third-picture-article{
        width:100%;
        height:50%;
    }
    .twice-part-article{
        display: flex;
        flex-direction: column;
    }
    .first-picture-article{
        height:200Px;
    }
}
