body {
    position: relative;
}

.WS-footer-row {
    background-image: url("../../images/footer.jpeg");
    width: 100%;
    filter: brightness(80%);
    bottom: 0;
    position: relative;
    margin: 0;
    padding: 0 !important;
    opacity: 80%;
}

.WS-footer-row a {
    text-decoration: none;
}

.WS-footer-row .method-paiement {
    justify-content: flex-end;
    padding-right: 10%;
}

.method-paiement i {
   padding: 3px;
}


.WS-footer-row .logo-opquast {
    padding-left: 5%;
}


.footer-legal {
    padding-top: 80px;
    padding-right: 0;
}

.certificated {
    color: black;
    font-weight: bold;
    text-align: center;
}

.logo-opquast {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.logo-cb {
    width: 100px;
    height: 30px;
    display: flex;
}


.WS-footer-row h5 {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.method-paiement {
    display: flex;
    flex-direction: row;
}
.WS-footer-color{
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
}

.WS-survol{
    color: var(--primaryColor)
}
.WS-footer-survol:hover{
    color: var(--primaryColor);
}

@media only screen and (max-width: 480px) {
    .footer-legal {
        padding-top: 10%;
        font-size: 10px;
    }
    .footer-legal h5{
        font-size: 16px;
    }
    .certificated{
        font-size: 13px;
        margin-top: 10px;
    }

    .legal-notice {
        flex-direction: column;
    }

    .method-paiement i {
        padding: 1px;
    }

    .logo-opquast {
        width: 80px;
        height: 80px;
    }

    .invisible {
        display: none;
    }
    .method-paiement {
        margin-bottom: 10px;
    }
    .WS-footer-row h5{
        font-weight: bold;
        color : black;
        margin-bottom: 3px;
    }
    .certificated a i{
        display: none;
    }
}


