.form-control {
    border-radius: 0px;
}

textarea {
    resize: none;
}

.fontTitle {
    font-family: var(--fontFamilyTitle);
}

/*////////////////////////////// css modal ////////////*/
.WS_box {
    display: none;
    padding-top: 200px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: var(--fontFamilyTitle);
    letter-spacing: 2px;
}

.WS_dialogBox {
    margin: auto;
    background-color: white;
    width: 500Px;

}

.WS_dialogBox p {
    font-family: var(--fontFamilyText);
}

/*///////////////////////CSS tableau//////////////////*/

td {
    border-color: darkgray;
    text-align: center;
    border-right: none;
    border-left: none;

}

.WS_boxtaille {
    width: 300px;
}

.WS_td {
    font-family: var(--fontFamilyTitle);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.WS_user_td {
    border-color: darkgray;
}

.WS-user-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--fontFamilyTitle);
    width: 50%;
    margin: auto;
}

.WS_user_td_2 {
    font-family: var(--fontFamilyText);
    width: 40px;
    text-align: start;
    border-color: darkgray;
}

.WS_user_td_3 {
    font-family: var(--fontFamilyText);
    width: 40px;
    text-align: center;
    border-color: darkgray;
}

@media screen and (max-width: 480px) {
    .WS-user-container2 {
        width: 90vw;
    }
    .WS_td {
        font-size: 1rem;
    }
    .WS_user_td_2{
        font-size: 0.7rem;
    }
    .productResp{
    }
    .WS_user_td_3 {
        width: 10%;
    }

    }
