
.navbar{
    background: rgb(180, 176, 176);
}

.btn2{
--bs-btn-bg: white;
--bs-btn-border-color: white;
--bs-btn-disabled-bg: var(--primaryColor);
--bs-btn-disabled-border-color: var(--primaryColor);
--bs-btn-border-radius: 0;
--bs-btn-font-family: var(--fontFamilyText);
color: var(--primaryColor);
}

li{
    list-style: none;
}

.btn-primary {
    --bs-link-color: var(--primaryColor);
    --bs-link-hover-color: var(--primaryColorHover);
}

.WS-header{
    color:var(--primaryColor);
    --bs-link-color: var(--primaryColor);
    --bs-link-hover-color: var(--primaryColorHover);
}

.WS-off-canvas{
    --bs-offcanvas-width: 284px;
    --bs-link-hover-color:  var(--primaryColorHover);
    bottom: initial;
    height: auto;
}


