
.offcanvas-title {
    font-family: var(--fontFamilyTitle);
    color: var(--primaryColor);
}
.headerTitle{
    font-family: var(--fontFamilyTitle);
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 3rem;
    padding: 0;
    margin:0;
    cursor: pointer;
}

.compteur-panier{
    position: absolute;
  top: 44px;
  right: 46px;
  background-color: white;
  color: #224C40;
  border-radius: 50%;
  padding: 2px 0 3px 1px;
  font-size: 10px;
  width: 20px;
  height :20px;
  border: 1px solid #224C40;
}

.btn2 {
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-disabled-bg: var(--primaryColor);
    --bs-btn-disabled-border-color: var(--primaryColor);
    --bs-btn-border-radius: 0;
    --bs-btn-font-family: var(--fontFamilyText);
    color: var(--primaryColor);
}

li {
    list-style: none;
}

.btn-primary {
    --bs-link-color: var(--primaryColor);
    --bs-link-hover-color: var(--primaryColorHover);
}

.WS-header {
    color: var(--primaryColor);
    --bs-link-color: var(--primaryColor);
    --bs-link-hover-color: var(--primaryColorHover);
}

.WS-off-canvas {
    --bs-offcanvas-width: 284px;
    --bs-link-hover-color: var(--primaryColorHover);
    bottom: initial;
    height: auto;
}

.sticky {
    position: sticky;
    top: 0;
    z-index:4;
}

.WS_transparent{
    background-color: #11ffee00;
    border: none;
}
.WS_contener_header{
    display: grid;
    grid:
    " . . . . . . . . . ." 10px
    ". burger logo title search . logout ninja basket ." 40px
    ". . . . . . text2 text1 text3 ." 30px
    / 20px 30px 70px 400px 1fr 60px 80px 80px 80px 20px;
  gap : 10px;
}
.WS_btn_burger{
    grid-area: burger;
    display: flex;
   align-items: center;
    margin-top: 20px;
}
.WS_img_logo{
    grid-area: logo;
}
.WS_titleName{
    grid-area: title;
    display: flex;
    margin-top: 4px;
}
.WS_searchbar{
    grid-area: search;
    margin-top: 10px;
}
.WS_ninja{
    grid-area: ninja;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WS_header_text1{
    grid-area: text1;
    margin-top: -15px;
}
.WS_header_text2{
    grid-area: text2;
    margin-top: -16px;
}
.WS_header_text3{
    grid-area: text3;
}
.WS_log_out{
    grid-area: logout;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WS_header_basket{
    grid-area: basket;
    display: flex;
    justify-content: center;
    align-items: center;

}
.WS-line{
    line-height: 15px;
    padding-top: 3px;
}
@media screen and (max-width: 480px) {

    .WS_contener_header{
        grid:
        "burger title logout ninja basket"40px
        " . test1 text1 text1 text1" 15px
        "search search search search search"30px
        / 30px  1fr 30px 30px 30px;
        gap:10px;
    }
    .headerTitle{
        font-size: 2rem;
        margin-left: 1rem;
    }
    .WS_img_logo{
        display: none;
    }

    .WS_header_text2{
        display: none;
    }
    .WS_btn_burger{
      margin: 0;
        margin-left: 8px;
    }
    .WS_searchbar{
        margin-top: 0;
        margin-left: 26px;
        margin-right: 10px;
    }

    .compteur-panier{
    
      top: 25px;
      right: 12px;
    }
    .WS_header_basket{
        margin: 0 26px;
        padding-top: 4px;
    }
    .WS_log_out{
        padding-right: 16px;
    }
    .WS-header {
        font-size: 1.5rem;
    }
    .WS_header_text1{
        font-size: 12px;

    }
}

