/*********************** carrousel ***********************/

.WS-mini {
    display: none;
}
.WScolor{
    color: var(--primaryColor);
}
/*********************** carrousel - media query ***********************/

@media screen and (max-width: 480px) {
    .WS-big {
        display: none;
    }

    .WS-mini {
        display: unset;
    }
}

/*********************** category disc ***********************/


.disc_category ul {
    margin: 2vh auto 3vh auto;
    width: 90vw;
    height: 12vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.disc_category li {
    position: relative;
    width: 15vw;
}

.disc_category img {
    position: absolute;
    width: 15vw;
    height: 15vw;
    margin: 0;
    --color: var(--primaryColor); /* the color of the border */
    --border: 10px; /* the thickness of the border */
    --offset: 30px; /* control the movement of the border */
    --gap: 5px; /* the gap on hover */
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)), #0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s)) calc(0% - var(--_s)),
    radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s)) calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
}

.disc_category p {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: var(--fontFamilyTitle);
    font-weight: bold;
    color: black;
    opacity: 0;
}

.disc_category ul li:hover img {
    opacity: 0.5;
    --_s: 0px
}

.disc_category ul li:hover p {
    opacity: 1;
}

.disc_category_mini {
    display: none;
}

/*********************** disc category - media query ***********************/

@media screen and (max-width: 480px) {
    .disc_category_mini {
        width: 95vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .disc_category_mini h2 {
        font-family: var(--fontFamilyTitle);
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .disc_category_mini ul {
        margin: 1vh auto 2vh auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
    }

    .disc_category_mini li {
        margin-bottom: 1vh;
    }

    .disc_category_mini img {
        width: 95vw;
    }
}

/*********************** blog articles ***********************/

.blog {
    width: 80vw;
    margin: auto;
}

.blog h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: var(--fontFamilyTitle);
}

.blog_articles_pc {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.blog_articles_pc div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 30vw;
    color: white;
}

.blog_articles_pc div h3 {
    font-size: 1.5vw;
}

.blog_articles_pc div p {
    width: 80%;
    font-size: 1vw;
    margin-top: 2%;
    text-align: center;
}

.article1 {
    background-image: url("/assets/images/article-op-codryceps.jpeg");
}

.article2 {
    background-image: url("/assets/images/article-op-asteroide.jpeg");
}

.article3 {
    background-image: url("/assets/images/article-op-fear-camp.jpeg");
}

.article4 {
    background-image: url("/assets/images/article-op-hache.jpeg");
}

.article1, .article2, .article3, .article4 {
    background-size: cover;
}

.blog_articles_phone {
    display: none;
}

/*********************** blog articles - media query ***********************/

@media screen and (max-width: 480px) {
    .blog {
        width: 95vw;
    }

    .blog h2 {
        margin-top: 0;
        margin-bottom: 1vh;
    }

    .blog_articles_pc {
        display: none;
    }

    .blog_articles_phone {
        display: flex;
    }

    .blog_articles_phone div p {
        text-align: center;
    }

    .article1, .article2, .article3, .article4 {
        height: 60vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-inner p {
        width: 70%;
    }

}

/*********************** best sellers ***********************/

.best_sellers h2 {
    margin-top: 6vh;
    margin-bottom: 2vh;
    font-family: var(--fontFamilyTitle);
}

.best_sellers {
    width: 90vw;
    margin: auto;
}

.best_sellers ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best_sellers ul li {
    width: 19.5%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.cardCustom {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bodyCustom {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card-bodyCustom button {
    width: 100%;
}

.best_sellers ul li:hover {
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}

.card-bodyCustom h6 {
    font-size: 1vw;
    font-weight: bold;
    font-family: var(--fontFamilyText);
}

.card-bodyCustom h5 {
    font-size: 1vw;
    font-weight: bold;
    font-family: var(--fontFamilyText);
}



/*********************** best sellers - media query ***********************/

@media screen and (max-width: 480px) {
    .best_sellers {
        width: 95vw;
    }

    .best_sellers h2 {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .best_sellers ul li {
        width: 50%;
    }

    .card-bodyCustom h6 {
        font-size: 2vh;
    }

    .card-bodyCustom h5 {
        font-size: 2vh;
    }

    .invisibleCustom {
        display: none;
    }

    .card-title {
        height: 4vh;
    }
}
