/*********************** carrousel ***********************/
*{
    /*overflow-y: hidden;*/
}

.carousel-item img {
    height: 60vh;
}

/*********************** category disc ***********************/

.disc_category {
}

.disc_category ul {
    margin: 7vh auto 2vh auto;
    width: 90vw;
    height: 12vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.disc_category li {
    position: relative;
    width: 12vw;
}

.disc_category img {
    position: absolute;
    width: 12vw;
    height: 12vw;
}

.disc_category p {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: var(--fontFamilyTitle);
    font-weight: bold;
    color: black;
    opacity: 0;
}

.disc_category ul li:hover img {
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.disc_category ul li:hover p {
    opacity: 1;
}

/*********************** blog articles - media query ***********************/

@media screen and (max-width:480px) {
    .disc_category ul {
        margin: 2vh auto 2vh auto;
        width: 95vw;
        height: 14vw;
    }

    .disc_category li {
        width: 14vw;
    }

    .disc_category img {
        width: 14vw;
        height: 14vw;
    }

    .disc_category p {
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 1em;
    }
}

/*********************** blog articles ***********************/

.blog {
    width: 90vw;
    margin: auto;
}

.blog h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: var(--fontFamilyTitle);
}

.blog_articles_pc {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.blog_articles_pc div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 30vw;
    color: white;
}

.blog_articles_pc div h3 {
    font-size: 1.5vw;
}

.blog_articles_pc div p {
    width: 80%;
    font-size: 1vw;
    margin-top: 2%;
}

.article1 {
    background-image: url("/assets/images/background3.jpg");
}

.article2 {
    background-image: url("/assets/images/background5.jpg");
}

.article3 {
    background-image: url("/assets/images/background4.jpeg");
}

.article4 {
    background-image: url("/assets/images/background3.jpg");
}

.article1, .article2, .article3, .article4 {
    background-size: cover;
}

.blog_articles_phone {
    display: none;
}

/*********************** blog articles - media query ***********************/

@media screen and (max-width:480px) {
    .blog {
        width: 95vw;
    }

    .blog h2 {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .blog_articles_pc {
        display: none;
    }

    .blog_articles_phone {
        display: flex;
    }

    .article1, .article2, .article3, .article4 {
        height: 60vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-inner p {
        width: 70%;
    }

}
/*********************** best sellers ***********************/

.best_sellers h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: var(--fontFamilyTitle);
}

.best_sellers {
    width: 90vw;
    margin: auto;
}
.best_sellers ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best_sellers ul li {
    width: 20%;
    display: flex;
    justify-content: center;
}

.cardCustom {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bodyCustom {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card-bodyCustom button {
    width: 100%;
}

.best_sellers ul li:hover {
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}

.card-bodyCustom h6{
    font-size: 0.7vw;
    font-weight: bold;
    font-family: var(--fontFamilyText);
}

.card-bodyCustom h5 {
    font-size: 1vw;
    font-weight: bold;
    font-family: var(--fontFamilyText);
}

/*********************** best sellers - media query ***********************/

@media screen and (max-width:480px) {
    .best_sellers {
        width: 95vw;
    }

    .best_sellers h2 {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .best_sellers ul li {
        width: 50%;
    }

    .card-bodyCustom h6 {
        font-size: 1.4vh;
    }

    .card-bodyCustom h5 {
        font-size: 2vh;
    }

    .invisible {
        display: none;
    }
}
