.WS-mini-cart{
    display: flex;
    flex-direction: column;
}
.WS-mini-image{
    display: flex;
    flex-direction: column;
}
.WS-cart{
    text-align: end;
    width: 190px;
}
.WS-cart-montant{
    text-align: end;
    font-size: small;
}
.test{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.test2{
    width: 120px;
}
<<<<<<< HEAD

.WS-basket-delete-update-content img {
=======
.WS-basket-delete-update-content img{
>>>>>>> 4407afcef7d2ece2a96b31ca25eb901d69116683
    height: 5vh;
}
