.WS-mini-cart {
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamilyText);
}
.titlePanier{
    font-size: 2rem;
}
.WS-box-basket{
    height: 450px;
}
.WS-mini-image {
    display: flex;
    flex-direction: column;
}

.WS-cart {
    text-align: end;
    width: 190px;
}

.WS-cart-montant {
    text-align: end;
    font-size: small;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    height: 17vh;
    border-bottom-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}

.test2 {
    width: 7vw;
}

.WS-basket-delete-update-content img {
    height: 3vh;
}

.miniCartImage {
    margin: auto;
}

.WS-cart {
    margin: auto;
}

.montantTotalmini {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .test2 {
        width: 20vw;
    }

    .test {
        height: 15vh;
        justify-content: space-between;
        border-bottom-style: solid;
        border-color: var(--bs-border-color-translucent);
        border-width: var(--bs-border-width);
    }

    .WS-mini-cart {
        width: 95vw;
        margin: auto;
    }

    .WS-cart {
        margin: auto;
    }

    .WS-cart h5 {
        font-size: 1rem;
    }

    .miniCartImage {
        margin: auto;
    }

    .montantTotalmini {
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align: center;
    }
}
