.links-product-page {
    font-size: 20px;
    margin-left: 80px;
    font-family: var(--fontFamilyTitle);
}

.debug {
    color: var(--primaryColor)
}

/************* Product description **************/
.one-product {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    width: 80vw;
    margin: auto;
}

.bigTitle {
    font-family: var(--fontFamilyTitle);
}

.one-product h2 {
    font-family: var(--fontFamilyTitle);
}

.oneProductImage {
    height: 400px;
    width: 400px;
}

.one-product button {
    width: 200px;
    height: 50px;
    /*margin-left:150px;*/
}

.product-characteristic {
    margin-left: 100px;
}

.product-description {
    width: 40vw;
    text-align: justify;
    font-family: var(--fontFamilyText);
}

.price {
    font-weight: bold;
    font-size: 40px;
    font-family: var(--fontFamilyText);
}

.added-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.oneProductLoveLogo{
    height: 3vh;
    margin-left: 1vw;
}

@media screen and (max-width: 480px) {
    .one-product {
        width: 95vw;
        margin: 0 auto 4vh auto;
        flex-direction: column;
        padding-top: 0;
    }

    .one-product button {
        margin-left: 20px;
    }

    .oneProductImage {
        width: 75vw;
        height: 75vw;
        margin: auto;
    }

    .product-description {
        width: 88vw;
        margin: auto auto 2vh auto;
    }

    .product-characteristic h2 {
        font-size: 30px;
    }

    .added-to-cart p {
        font-size: 30px;
    }
}

/************* Slide comments **************/

.customers-comments h2{
    width: 80vw;
    margin: auto;
    font-family: var(--fontFamilyTitle);
}
.comments{
    width:100%;
}
.text-customer-comments{
    padding-top: 20px;
}
.customers-comments{
    margin-top: 3vw;
}
#carouselExampleControls{
    margin-top: 3vw;
}
.fa-sharp{
    margin-left: 15px;
}
.card-body .text-customer-comments {
    text-align: center;
}
.card-title-comments{
    text-align: center;
    font-family: var(--fontFamilyTitle);
    font-size:28px;
}
@media screen and (max-width:480px) {
    .customers-comments {
        display: none;
    }
    .card-title-phone{
        font-family: var(--fontFamilyTitle);
        text-align: center;
        font-size: 1.5rem;
    }
    .text-customer-comments{
        width: 100%;
    }
    }


/************* Slide comment phone ***********/
.customers-comments-phone{
    display:none;
}
.comments{
    width:100%;
}
.customers-comments-phone h2{
    width: 80vw;
    margin: auto;
    font-family: var(--fontFamilyTitle);
    margin-bottom: 20px;
    font-size: calc(1.325rem + .9vw);
}
.customers-comments{
    margin-top: 3vw;
}
#carouselExampleControls{
    margin-top: 3vw;
}

.card-title-comments{
    text-align: center;
    font-family: var(--fontFamilyTitle);
    font-size: 24px;
}

/************* Cards suggestions **************/
.suggestion_product {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
}

.suggestion_product h2 {
    text-align: center;
    font-family: var(--fontFamilyTitle);
    margin-bottom: 50px;
}

.suggestion_product ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.suggestion_product ul li {
    width: 19.5%;
    display: flex;
    justify-content: center;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .suggestion_product {
        width: 95vw;
    }

    .suggestion_product h2 {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .suggestion_product ul li {
        width: 50%;
    }

    .links-product-page{
        width: 88vw;
        margin: unset;
        text-align: center;
        font-size: 1rem;
    }
    .bigTitle{
        margin: auto;
        padding-left: 4vw;
    }
    .product-characteristic{
        width: 95vw;
        margin: auto;
    }
    .price{
        padding-left: 4vw;
    }
    .added-to-cart{
        width: 95vw;
        margin: auto;
    }
    #btn-ajout-panier{
        margin-left: 4vw;
    }
    .customers-comments-phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .customers-comments-phone h2{
        width: 88vw;
    }
    .footer-botom{
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
}
