.links-product-page {
    font-size : 60px;
    margin-left: 80px;
    font-family: var(--fontFamilyTitle);
}
.one-product {
    display : flex;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 100px;
}
.one-product h2{
    font-size: 50px;
}
.one-product img{
    height : 400px;
    width : 400px;
}
.one-product button{
    width : 200px;
    height : 50px;
    margin-left:150px;
}
.product-characteristic{
    margin-left: 100px;
}
.product-description{
    width: 40vw;
    text-align: justify;
}
.price {
    font-weight: bold;
    font-size: 40px;
}
.added-to-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.customers-comments h2{
    font-size: 60px;
    font-family: var(--fontFamilyTitle);
    margin-left: 80px;
}
.comments{
    width:100%;
}
.text-customer-comments{
    padding-top: 20px;
}
.customers-comments{
    margin-top: 3vw;
}
#carouselExampleControls{
    margin-top: 3vw;
}
.best_sellers h2{
    text-align: center;
}
