.tableOrder{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
}
.tableOrderUnitaire{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 2vh auto 4vh auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tableHEAD{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    padding: 2vh;
    font-family: var(--fontFamilyTitle);
    font-size: 1.5rem;
}
.tableContenu{
    display: flex;
    flex-direction: column;
}
.tableContenu a {
    text-decoration: none;
}
.detailContenu{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2vh;
    padding: 2vh;
    transition: transform .2s;
}
.detailContenu:hover{
    transform: scale(1.02);

}
.detailContenuOrder {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    border-bottom-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);

}
.detailContenuOrder {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    border-bottom-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}
.contenu1, .contenu2{
    width: 33%;
}
.contenu3, .contenu4{
    width: 20%;
}
.contenu1, .contenu2, .contenu3, .contenu4{
    text-align: center;
}

.eye-order{
    visibility: hidden;
}
.detailContenuOrder:hover .eye-order{
    visibility: unset;
}

.titleOrder{
    width: 70vw;
    font-family: var(--fontFamilyTitle);
    font-size: 2rem;
    margin:auto;
}

@media screen and (max-width: 480px) {
    .cartLoveLogo{
        right: 10%;
    }
    .tableOrder, .tableOrderUnitaire{
        width: 94vw;
        margin-top: 1vh;
    }
    .contenu1, .contenu2, .contenu3, .contenu4{
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tableHEAD{
        padding-left: 0;
        padding-right: 0;
    }
    .tableHEAD .contenu1, .tableHEAD .contenu2, .tableHEAD .contenu3, .tableHEAD .contenu4 {
        font-size: 1.2rem;
    }
    .detailContenu, .detailContenuOrder {
        padding-right: 0;
        padding-left: 0;
    }
    .contenu5{
        display: none;
    }
    .titleOrder{
        width: 94vw;
        margin-top: 1vh;
        font-size: 1.2rem;
    }
}

