.WS-product-filter {
    display: flex;
    width: 90vw;
    margin: 0.5rem auto auto auto;
}
.WSflex{
    display: flex;
    justify-content: center;
}
.card-title{
    height: 40px;
}
.btn {
    width: 150px;
}

.dropdown-menu {
    min-width: 150px;
    font-family: var(--fontFamilyText);
}

.WS-product-container {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/
    margin: 0 auto;
    width: 90vw;
}

.test {
    padding: 0;
}

.WS-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 1rem;
    background-color: white;
}

.productImage {
    width: 200px;
}

.WS-product-card:hover {
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
}
.WS-product-card:hover .eye-product{
    visibility: unset;
}

.card-title,
.card-subtitle {
    color: var(--textColor)
}

.WS-product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.lovelogo{
    width: 1.5vw;
    margin-left: 1vw;
}
.eye-product{
    visibility: hidden;
}
.card-img-top:hover .eye-product{
    visibility: unset;
}
.productLogo{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 480px) {

    .WS-product-container {
        justify-content: center;
        width: 100vw;
    }

    .WS-product-card {
        width: 40vw;
    }

    .WS-product-card h5 {
        font-size: 1rem;
    }

    .WS-product-filter {
        margin-left: 7vw;
    }

    .lovelogo{
        width: 3vw;
    }
}
