.dashboardbanner {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardbanner img {
    width: 100%;
}

.dashboardbanner h1 {
    font-family: var(--fontFamilyTitle);
    font-size: 5rem;
    position: absolute;
}

.dashboardbanner h2 {
    font-family: var(--fontFamilyText);
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
}

.dashboardmenu {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.dashboardbtn {
    margin: 0 1vw auto 1vw;
}

.WS-user-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--fontFamilyText);
}
.titreProfile{
    font-family: var(--fontFamilyTitle);
}

table,
td {
    border: 1px solid #333;
    text-align: left;
}

td {
    padding: 0 1rem;
}

.WS-user-cont {
    width: 50%;
}

.WS-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontFamilyText);
}

.WS-login-container {
    display: flex;
    justify-content: space-around;
}

.font {
    font-family: var(--fontFamilyText);
}
.deleteWishlist{
    height: 2.5vh;
}

.loginTitle{
    font-family: var(--fontFamilyTitle);
}
.textDescriptionForm{
    border : 1px solid #ced4da;
}

.loginInput{
    width: 30vw;
    height: 5vh;
    text-align: center;
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
    margin-bottom: 2vh;
}

@media screen and (max-width: 480px) {
    .dashboardbanner h1 {
        font-size: 2rem;
    }
    .dashboardbanner h2 {
        font-size: 1rem;
    }
    .btnResp{
        width: 23vw;
        font-size: 0.7rem;
    }
    .visibleResp{
        visibility: hidden;
    }
    .rowResp{
        width: 95vw;
        margin: auto;
    }
    .WS-user-cont{
        width: 95vw;
    }
    .btnLargeResp{
        width: 88.5vw;
    }
    }

