.dashboardbanner {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WSheight{
    height: 38px;
}
.dashboardbanner img {
    width: 100%;
}

.dashboardbanner h1 {
    font-family: var(--fontFamilyTitle);
    font-size: 5rem;
    position: absolute;
}

.dashboardbanner h2 {
    font-family: var(--fontFamilyText);
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
}

.dashboardmenu {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.dashboardbtn {
    margin: 0 1vw auto 1vw;
}

.WS-user-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--fontFamilyText);
}

table,
td {
    border: 1px solid #333;
    text-align: left;
}

td {
    padding: 0 1rem;
}

.WS-user-cont {
    width: 500px;

}

.WS-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontFamilyText);
}

.WS-login-container {
    display: flex;
    justify-content: space-around;
}

.font {
    font-family: var(--fontFamilyText);
}
.deleteWishlist{
    height: 2.5vh;


/*/////////////////////// showALL ////////////////////*/

.WS_showAll-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}
table {
    width: 700px;
}
.WS-user-container3{
    display: flex;
    flex-direction: column;
    align-items: center;




}
