.dashboardbanner {
    /*width: 100vw;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableUser{
    width: 80vw;
}
.WSheight{
    height: 38px;
}
.dashboardbanner img {
    width: 100%;
}

.dashboardbanner h1 {
    font-family: var(--fontFamilyTitle);
    font-size: 5rem;
    position: absolute;
}

.dashboardbanner h2 {
    font-family: var(--fontFamilyText);
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
}

.dashboardmenu {
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
}

.dashboardbtn {
    margin: 3vh 1vw 3vh 1vw;
}

.WS-user-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--fontFamilyText);
}
.titreProfile{
    font-family: var(--fontFamilyTitle);
}

.userTitle{
    font-family: var(--fontFamilyTitle);
}

table,
td {
    border: 1px solid #333;
    text-align: left;
}

td {
    padding: 0 1rem;
}

.WS-user-cont {
    width: 50%;
}
.WS-user-profile{
    padding-top: 10vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: var(--fontFamilyText);
}
.WS-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontFamilyText);
}
.WS-user-content{
    width: 90%;
    margin-top: 3vh;
    margin-bottom: 0;
}
.font {
    font-family: var(--fontFamilyText);
}
.deleteWishlist {
    height: 2.5vh;
}

/*/////////////////////// showALL ////////////////////*/

.WS_showAll-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
table {
    width: 60%;
}
.WS-user-container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnLargeResp{
    width: 300px;
}

.loginTitle{
    font-family: var(--fontFamilyTitle);
}
.textDescriptionForm{
    border : 1px solid #ced4da;
}

.loginInput{
    width: 30vw;
    height: 5vh;
    text-align: center;
    border-style: solid;
    border-color: var(--bs-border-color-translucent);
    border-width: var(--bs-border-width);
    margin-bottom: 2vh;
}
.dashboardbackground{
    width: 50vw;
    margin: auto auto 3vh auto;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.question{
    background-color: var(--primaryColor);
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
}
.questionImage{
    height: 3vh;
    margin-right: 1vw;
}
.dashboardimage{
    width: 100%;
}
.WS-login-container{
    position: absolute;
    left: 5%;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}

@media screen and (max-width: 480px) {
    .dashboardmenu{
        flex-wrap: wrap;
        margin-top: 1vh;
    }
    .dashboardbanner h1 {
        font-size: 2rem;
    }
    .dashboardbanner h2 {
        font-size: 1rem;
    }
    .btnResp{
        width: 95vw;
        font-size: 1.5rem;
        font-family: var(--fontFamilyTitle);
    }
    .visibleResp{
        visibility: hidden;
    }
    .rowResp{
        width: 95vw;
        margin: auto;
    }
    .WS-user-cont{
        width: 95vw;
    }
    .btnLargeResp{
        width: 88.5vw;
    }
    .loginInput{
        width: 90vw;
        margin-top: 1vh;
    }
    .dashboardbtn{
        margin : 1vh
    }
    .dashboardbackground{
        width: 95vw;
        margin-top: 1vh;
    }
    .WS-user-profile{
        padding-top: 3vh;
    }
    .WS-user-content, .WS-user-content-bis{
        margin: 0;
        font-size: 0.8rem;
    }
    .top-3{
        margin-top: 0;
    }
    .question{
        width: 20vw;
        font-size: 0.8rem;
    }
    .questionImage{
        height: 2vh;
        margin-right: 1vw;
    }
    .WS-user-profile a{
        height: 4vh;
        margin-top: 1vh;
    }
    .WS-login-container{
        padding-top: 0;
    }
    .compteTitle{
        font-size: 1.2rem;
    }






    }

