:root {
    --primaryColor: #224C40;
    --primaryColorHover:#2B662E ;
    --secondaryColor: #224C40;
    --background: white;
    --textColor: #2e2e2e;
    --fontFamilyTitle: 'Bebas Neue', cursive;
    --fontFamilyText: 'Didact Gothic', sans-serif;
    --fontFamalyCategory : 'Oswald', sans-serif;
}

.btn{
    --bs-btn-bg: var(--primaryColor);
    --bs-btn-border-color: var(--primaryColor);
    --bs-btn-disabled-bg: var(--primaryColor);
    --bs-btn-disabled-border-color: var(--primaryColor);
    --bs-btn-border-radius: 0;
    --bs-btn-font-family: var(--fontFamilyText);
}

.btn:hover {
    --bs-btn-hover-bg: var(--primaryColorHover);
}

a:-webkit-any-link {
    color: #224C40;
    cursor: pointer;
    text-decoration: underline;
}