:root {
    --primaryColor: #224C40;
    --primaryColorHover:#2B662E ;
    --secondaryColor: #224C40;
    --background: white;
    --textColor: black;
    --fontFamilyTitle: 'Bebas Neue', cursive;
    --fontFamilyText: 'Didact Gothic', sans-serif;
}

.btn{
    --bs-btn-bg: var(--primaryColor);
    --bs-btn-border-color: var(--primaryColor);
    --bs-btn-disabled-bg: var(--primaryColor);
    --bs-btn-disabled-border-color: var(--primaryColor);
    --bs-btn-border-radius: 0;
    --bs-btn-font-family: var(--fontFamilyText);
}

.btn:hover {
    --bs-btn-hover-bg: var(--primaryColorHover);
}
